@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Rubik/static/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Rubik/static/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Rubik/static/Rubik-SemiBold.ttf');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Rubik/static/Rubik-Bold.ttf');
}

@font-face {
    font-family: 'Mulish';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Mulish/static/Mulish-Regular.ttf');
}

@font-face {
    font-family: 'Mulish';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Mulish/static/Mulish-SemiBold.ttf');
}

@font-face {
    font-family: 'Mulish';
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Mulish/static/Mulish-Bold.ttf');
}

@font-face {
    font-family: 'DMSans';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/DM_Sans/static/DMSans-Regular.ttf');
}

@font-face {
    font-family: 'DMSans';
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/DM_Sans/static/DMSans-Medium.ttf');
}